/*element principaux de la page*/
body{
	background: url('fond_jaune.png');
	font-family: Arial, impact;
	color: #181818;
}
#bloc_page{
	width: 900px;
	margin: auto;
}
section h1, footer, nav, a{
	font-family: serif;
	font-weight: bold;
	text-transform: uppercase;
}
/*header*/
header{
	background: url(separateur.png) repeat-x bottom;
}
#titre_principal{
	display: inline-block;
}
header h1{
	font-family: serif;
	font-size: 2.5em;
	font-weight: normal;
}
#logo, header h1{
	display: inline-block;
	margin-bottom: 0px;
}
header h2{
	font-family: sans-serif;
	font-size: 1.1em;
	margin-top: 0px;
	font-weight: normal;
}
nav{
	display: inline-block;
	width: 740px;
	text-align: right;
	bottom: 0px;
}
nav ul{
	list-style-type: none;

}
nav li{
	display: inline-block;
	margin-right: 15px;
}
nav a{
	font-size: 1.2em;
	color: #181818;
	text-decoration: none;
}
nav a:hover{
	color: #760001;
	border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('sanfrancisco.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    background:  url('ico_top.png') no-repeat top center, url('separateur.png') repeat-x top, url('ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}

